.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

// 主軸 justify-content

.justify-content-between {
  justify-content: space-between;
}

// 次軸 align-items
.align-items-center {
  align-items: center;
}

// self
