footer {
  background-color: $red;
  .footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    .footer-left {
      color: #ffffff;
      .menu {
        display: flex;
        margin-bottom: 36px;
        li {
          margin-top: 60px;
          margin-right: 48px;
          a {
            color: #ffffff;
          }
        }
      }
      .tel {
        font-size: 36px;
        margin-bottom: 8px;
        line-height: 54px;
        span {
          display: inline-block;
          text-align: center;
          font-size: 36px;
          vertical-align: middle;
          padding: 6px;
          margin-right: 16px;
        }
      }
      .mail {
        font-size: 36px;
        margin-bottom: 32px;
        line-height: 54px;
        span {
          text-align: center;
          display: inline-block;
          font-size: 40px;
          vertical-align: middle;
          padding: 8px 4px;
          margin-right: 16px;
        }
      }
    }
    .footer-right {
      ul {
        display: flex;
        li {
          width: 48px;
          margin-left: 32px;
          margin-top: 48px;
        }
      }
    }
  }
  .footer-bottom {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #ffffff;
    }
    ul {
      display: flex;
      align-items: center;
      li {
        margin-left: 48px;
        a {
          color: #ffffff;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer-top {
      .footer-left {
        .menu {
          margin-bottom: 32px;
        }
      }
      .footer-right {
        ul {
          li {
            width: 40px;
            margin-left: 16px;
          }
        }
      }
    }
    .footer-bottom {
      padding-bottom: 40px;
    }
  }
}

@media screen and (max-width: 375px) {
  footer {
    .footer-top {
      .footer-left {
        .menu {
          display: none;
        }
        .tel {
          margin-top: 24px;
          font-size: 16px;
          line-height: 24px;
          span {
            font-size: 18px;
            padding: 3px;
            margin-right: 8px;
          }
        }
        .mail {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 24px;
          span {
            font-size: 20px;
            padding: 4px 2px;
            margin-right: 8px;
          }
        }
      }
      .footer-right {
        ul {
          li {
            width: 24px;
            margin-left: 8px;
            margin-top: 24px;
          }
        }
      }
    }
    .footer-bottom {
      padding-top: 16px;
      padding-bottom: 24px;
      flex-direction: column;
      align-items: start;
      p {
        margin-bottom: 8px;
      }
      ul {
        flex-direction: column;
        align-items: flex-start;
        li {
          margin-left: 0;
        }
        li:first-child {
          margin-bottom: 8px;
        }
      }
    }
  }
}
