// 第一區
.index-banner {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-size: cover;
  background-position: center center;
  .slogan {
    padding-top: 296px;
    padding-bottom: 296px;
    padding-right: 312px;
    text-align: right;
    color: $dark-red;
    h3 {
      font-size: 36px;
    }
    h2 {
      font-size: 64px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    a {
      font-size: 20px;
      color: $white;
      background-color: $red;
      padding: 6px 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .index-banner {
    // 換小圖
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    .slogan {
      padding-right: 37px;
    }
  }
}

@media screen and (max-width: 375px) {
  .index-banner {
    .slogan {
      padding-top: 144px;
      padding-bottom: 144px;
      padding-right: 14px;
      h3 {
        font-size: 16px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 8px;
      }
      a {
      }
    }
  }
}

// 第二區
.service-bg {
  background-color: #fbf2f2;
  padding-top: 80px;
  padding-bottom: 80px;
  color: $dark-red;
  text-align: center;
  h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 24%;
      span {
        font-size: 83px;
        width: 100px;
        line-height: 100px;
        margin-bottom: 24px;
      }
      h4 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
      }
      p {
        color: $black;
        text-align-last: left;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .service-bg {
    .services {
      li {
        width: 48%;
        margin-bottom: 24px;
        span {
          margin-bottom: 16px;
        }
      }
      li:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .service-bg {
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
      font-size: 24px;
    }
    .services {
      li {
        width: 100%;
        span {
          margin-bottom: 16px;
        }
      }
      li:nth-child(3) {
        margin-bottom: 24px;
      }
    }
  }
}

// 第三區

.classic-sec {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  h2 {
    color: $dark-red;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
  }
  .classics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 32%;
      a {
        display: block;
        width: 100%;
        margin-bottom: 8px;
      }
      h3 {
        font-size: 48px;
        font-style: italic;
        font-weight: 900;
        color: $red;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .classic-sec {
    .classics {
      li {
        width: 100%;
        margin-bottom: 24px;
        a {
          margin-right: auto;
          margin-left: auto;
          width: 336px;
        }
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .classic-sec {
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }
    .classics {
      li {
        a {
          width: 100%;
        }
      }
    }
  }
}

// 第四區

.design-sec {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-size: cover;
  background-size: center center;
  h2 {
    color: $white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
    text-align: center;
  }
  .brands {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;

      .brand1 {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true");
        height: 240px;
        background-size: cover;
        background-position: center center;
      }
      .brand2 {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true");
        height: 240px;
        background-size: cover;
        background-position: center center;
      }
      p {
        background-color: $white;
        font-size: 48px;
        font-weight: 900;
        font-style: italic;
        color: $red;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .design-sec {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
    .brands {
      li {
        width: 100%;
        margin-bottom: 24px;
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .design-sec {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }
    .brands {
      li {
        .brand1 {
          background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true");
        }
        .brand2 {
          background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true");
        }
      }
    }
  }
}

// 第五區

.recommend-sec {
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: $dark-red;
    text-align: center;
    margin-bottom: 48px;
  }
  .customer-review {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 24%;
      border-radius: 4px;
      box-shadow: 0px 2px 6px #00000029;
      .customer-pic {
        height: 306px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
      .review {
        padding: 16px;
        height: 205px;
        position: relative;
        .name {
          font-weight: 500;
          margin-bottom: 8px;
        }
        .content {
          margin-bottom: auto;
        }
        .date {
          color: $gray;
          font-size: 14px;
          position: absolute;
          left: 16px;
          bottom: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .recommend-sec {
    .customer-review {
      li {
        width: 48%;
        margin-bottom: 24px;
      }
      li:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .recommend-sec {
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }
    .customer-review {
      li {
        width: 100%;
      }

      li:nth-child(3) {
        margin-bottom: 24px;
      }
    }
  }
}
